In [2]:
import pandas as pd
import random
from string import ascii_letters

In [39]:
def rand_string():
    return "".join([ascii_letters[random.randint(0,len(ascii_letters))-1] for y in range(random.randint(4,12))])

def rand_string_list():
    return [rand_string() for y in range(115)]

def rand_int_list():
    return [random.randint(0,2500) for y in range(115)]

In [45]:
def randDf():
    return pd.DataFrame(
            {
                rand_string():(rand_int_list() if x%7==0 else rand_string_list())
                for x in range(10)
            }
        )

In [46]:
randDf().head()

,eetZo,uvaEu,ZHmmnrd,uVINIOoaAZW,AoJLnZlwhp,XTLF,QKXQabqOFDd,iicEq,hjdLBJIwad,XkkAWfxIZNbK
0,1268,qOWqWwwg,ZQZB,xJnDbEj,tcZmOkz,fdiLCgOnx,mBuY,932,VHWmvWrwE,bkLIJHW
1,2488,pyyrBZzqxo,cVAGU,RUYZcPMFCZpK,KhJfZqb,uBfX,GDhRTW,1250,qeAszSEnMFOj,TSGtG
2,464,ktYTVuSsQ,dAmaZ,icDLbCsRMBdS,XDOYTmOQqL,gBzzeuoRVs,NRlTmxvyLuD,1747,SQzanqiB,iRrUWiWDRF
3,1986,MfAN,vnCZbt,JlnwSTiPVCI,vOYrwW,UPwaoPN,mCLSzCo,2319,byIoXTkBxU,PltqVclPDw
4,1386,uNVIAJ,QfcXGKypRxz,uFAokLO,lCqjq,kJcPgnGb,MuSEMkTmoQ,1140,UBTV,PzVvc